<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Movie Recommender</title>
    <link rel="icon" type="image/x-icon" href="../static/imgs/favicon.png">
    


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <!-- Add font awasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <!-- Add external css -->
    <link rel="stylesheet" href='/static/style.css' />



    <!-- ------- auto complete search bar ------ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

</head>

<body onload="loading()">

    <div id="preloader"></div>
    <div class="backdrop"></div>

    <navbar>

        <div class="nav">

            <a href="#Home" class="nav_link nav_active">
                <i class="fa fa-home"></i>
                <span class="nav_link_title" style="font-size: 13px;">Home</span>
            </a>

            <a href="#About" class="nav_link">
                <i class="fa-sharp fa-solid fa-circle-info"></i>
                <span class="nav_link_title" style="font-size: 13px;">About</span>
            </a>


        </div>



    </navbar>





    <section class="home section_padding" id="Home">

        <div class="container">


            <div class="row">


                <div class="home_txt">

                    <h4 class="greetings">Hii</h4>

                    <span class="moving_txt"></span>
                    <h3>Welcome to the</h3>

                    <div class="title" id="text">
                        <h1>MOVIE<br>RECOMMENDER</h1>
                    </div>


                    <!-- ----------------  search bar ---------------------- -->


                    <form id="search-form" action="/" method="POST">
                        <input id="search-input" type="text" name="search" placeholder="Search a Movie...">

                        <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
                    </form>


                </div>

                <!-- ----------------  search bar ---------------------- -->




            </div>



        </div>


    </section>




    <!--! ----------------  About ---------------------- -->






    <section class="about section_padding" id="About">

        <div class="container">

            <div class="section_title">
                <h3 class="main_title">About</h3>
                <h5 class="sub_title">Learn about this Project</h5>

            </div>



            <div class="row justify_content_cntr">

                <div class="about_box">
                    <p>
                        Movie recommendation using <span>CountVectorizer</span> is a natural language processing (NLP)
                        approach for recommending movies to users based on their textual reviews or descriptions.
                        CountVectorizer is a method that converts text data into a numerical format that can be used by
                        machine learning algorithms.
                        In this approach, textual data from movie reviews are preprocessed and converted into a matrix
                        of
                        word counts using CountVectorizer.
                        Then, a similarity matrix is created to compare each movie's word count matrix with all other
                        movies. Finally,
                        the recommendation system recommends movies to the user based on the highest similarity score
                        with
                        their input text.
                        This approach is popular in movie recommendation systems due to its simplicity
                        and effectiveness.<br>
                    </p>
                    <p>
                        <br> The system is deployed using <span>Flask</span> framework, which enables users to interact
                        with the system
                        through a web interface.
                        The user can input their preferences and receive recommendations based on their input.
                    </p>
                    <div class="git_link">
                        <h4>View the Source code of this Project :
                            <a href="https://github.com/Raj-Gurjar/Movie-Recommender.git" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </h4>
                    </div>
                </div>


                <div class="gradient_design">

                    <div class="about_us_title">
                        <h3>
                            Meet The Creators
                        </h3>
                    </div>
                    <!-- ----------------------------- -->
                    <div class="about_us">

                        <!--? Item1 -s -->

                        <!-- <div class="p1 port_item"> -->
                        <div class="cardx card0">
                            <div class="border">
                                <h3>Raj Chhalotre</h3>
                                <h4>Frontend</h4>
                                <p>
                                    Front End | AI | ML | C++
                                </p>
                                <div class="icons">
                                    <a href="https://www.linkedin.com/in/raj-chhalotre-29jul01/" target="_blank">

                                        <i class="fa fa-brands fa-linkedin"></i> </a>

                                    <a href="https://github.com/Raj-Gurjar" target="_blank">
                                        <i class="fa fa-brands fa-github" aria-hidden="true"></i></a>

                                    <a href="" target="_blank"><i class="fa fa-brands fa-instagram"
                                            aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>


                        <!-- </div> -->

                        <!-- <div class="p1 port_item"> -->
                        <div class="cardx card1">
                            <div class="border">
                                <h3>Hemant Rajput</h3>
                                <h4>Data Science</h4>
                                <p>
                                    Front End | AI | ML | C++
                                </p>
                                <div class="icons">

                                    <a href="https://www.linkedin.com/in/hemantsinghrajput/" target="_blank"><i
                                            class="fa fa-brands fa-linkedin" aria-hidden="true"></i></a>

                                    <a href="https://github.com/hemantsinghrajput" target="_blank"><i
                                            class="fa fa-brands fa-github" aria-hidden="true"></i></a>

                                    <a href="" target="_blank"><i class="fa fa-brands fa-instagram"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>
                        <!-- </div> -->






                    </div>

                </div>

            </div>

        </div>


    </section>

    <!--! ----------------  About ---------------------- -->






    <!--!------ Add Js ------>

    <!-- external js -->
    <script src="/static/script.js" async defer></script>

    <!-- Shifting Text -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


</body>

</html>