<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Movie Rec</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- font boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Add font awasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- external css -->
    <link rel="stylesheet" href='/Web_part/static/style.css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</head>

<body>
    <div id="preloader">


    </div>


    <navbar>

        <div class="nav">

            <a href="#Home" class="nav_link nav_active">
                <i class="bx bx-home"></i>
                <span class="nav_link_title">Home</span>
            </a>

            <a href="#Movie" class="nav_link">
                <i class="bx bx-movie"></i>
                <span class="nav_link_title">About Movie</span>
            </a>

            <a href="#Recmndr" class="nav_link">
                <i class="bx bx-photo-album"></i>
                <span class="nav_link_title">Recommender</span>
            </a>

            <a href="#About" class="nav_link">
                <i class="bx bx-bulb"></i>
                <span class="nav_link_title">About</span>
            </a>


        </div>



    </navbar>





    <section class="home section_padding" id="Home">

        <div class="container">

            <div class="row">


                <div class="home_txt">

                    <h4 class="greetings">Hii</h3>

                        <span class="moving_txt"></span>
                        <p>Welcome to the</p>
                        <h1 class="name">Movie Recommender</h1>


                        <div class="search-container">
                            <form action="/" method="POST">
                                <input type="text" placeholder="Search.." name="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                </div>






            </div>

        </div>


    </section>
    <!-- 
                <form action="" class="search-bar">
                    <input type="search" placeholder="Enter Movie Name" required>
                    <button class="search-btn" type="submit">
                        <span>Search</span>
                    </button>
                </form> -->
    <!-- ----------------  search bar ---------------------- -->



    <!-- ----------------  search bar ---------------------- -->

    <!--! ------------------------------------------------------------------- -->

    <section class="movie section_padding" id="Movie">


        <div class="container">


            <div class="section_title">
                <h3 class="main_title">Movie Description</h3>
                <h5 class="sub_title">Here is the Description of your searched Movie</h5>

            </div>







            <div class="row justify_content_cntr">



                <div class="movie_card" id="glow">

                    <div class="info_section">

                        <div class="movie_header">
                            <img class="poster_img" alt="movie poster"
                                src="{{mp}}" />
                            <h1>{{cur_m}}</h1>
                            <h4>
                                {{raj[0]}} , {{raj[1]}}
                            </h4>
                            <span class="minutes">{{rt}}</span>
                            <p class="type">{{gen}}</p>
                            <h4 class ="mv_rating">Movie Rating : {{vote}}/10</h4>
                        </div>
                        <div class="movie_desc">
                            <p class="text">
                                {{over}}
                            </p>

                          
                        </div>
                         
                        <div class="know_more">
                           <a href="{{homep}}" class=""> <i class=" fa fa-link"></i> {Know More}</a>
                        </div>
                    </div>
                    <div class="blur_back poster_back"></div>

                </div>


            </div>


            <div class="container2">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <h6>Recommendations</h6>
                <div class="arrow"></div>
            </div>

        </div>







    </section>

    <!--! ------------------------------------------------------------------- -->

    <!--! ------------------------------------------------------------------- -->





    <section class="recmndr section_padding" id="Recmndr">


        <div class="container">



            <div class="section_title">
                <h3 class="main_title">Recommendations</h3>
                <h5 class="sub_title">Here are some Recommendations related to {{cur_m}}</h5>

            </div>

            <!-- --------------------------- -->

            <div class="row justify_content_cntr">

                <div class="rec_items">


                    <!-- ------ card item s ------ -->
                    {%for item in names%}
                    <div class="carda">
                        <div class="poster">
                            <img src="{{posters[loop.index0]}}" alt="">
                        </div>

                        <div class="details">
                            <h3 class="rec_mv_name">{{item}}</h3>



                            <div class="tags">
                                {%for i in rating[loop.index0][2]%}
                                <span>{{i}}</span>
                                {% endfor %}
                            </div>


                            <h4 class="mv_year">{{rating[loop.index0][1].split("-")[0]}}</h4>

                            <div class="rating">
                                <!-- <i class = "fa fa-star"></i> -->
                                <h4>Rating : {{rating[loop.index0][0]}}/10</h4>

                            </div>

                            <div class="btn">
                                <a href="{{rating[loop.index0][3]}}">Know More</a>
                            </div>

                            <form action="{{ url_for('nest', movie=item) }}" method="POST">
                                <button type="submit">Submit</button>
                            </form>
                        </div>

                    </div>
                    {% endfor %}
                    <!-- ------ card item e ------ -->
                    




                </div>


            </div>


        </div>




    </section>

    <!--! ----------------------------------------------------- -->




    <section class="about section_padding" id="About">

        <div class="container">

            <div class="section_title">
                <h3 class="main_title">About</h3>
                <h5 class="sub_title">Learn about this Project</h5>

            </div>



            <div class="row justify_content_cntr">

                <div class="about_box">
                    <p>
                        Movie recommendation using CountVectorizer is a natural language processing (NLP)
                        approach for recommending movies to users based on their textual reviews or descriptions.
                        CountVectorizer is a method that converts text data into a numerical format that can be used by
                        machine learning algorithms.
                        In this approach, textual data from movie reviews are preprocessed and converted into a matrix
                        of
                        word counts using CountVectorizer.
                        Then, a similarity matrix is created to compare each movie's word count matrix with all other
                        movies. Finally,
                        the recommendation system recommends movies to the user based on the highest similarity score
                        with
                        their input text.
                        This approach is popular in movie recommendation systems due to its simplicity
                        and effectiveness.
                    </p>
                    <p>
                        The system is deployed using Flask framework, which enables users to interact with the system
                        through a web interface.
                        The user can input their preferences and receive recommendations based on their input.
                    </p>
                </div>



                <div class="about_us_title">
                    <h3>
                        Meet The Creators
                    </h3>
                </div>
                <!-- ----------------------------- -->
                <div class="about_us">

                    <!--? Item1 -s -->

                    <!-- <div class="p1 port_item"> -->
                    <div class="cardx card0">
                        <div class="border">
                            <h3>Raj Chhalotre</h3>
                            <h4>Frontend</h4>
                            <p>
                                Front End | AI | ML | C++
                            </p>
                            <div class="icons">
                                <a href="www.google.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>


                    <!-- </div> -->

                    <!-- <div class="p1 port_item"> -->
                    <div class="cardx card1">
                        <div class="border">
                            <h3>Hemant Rajput</h3>
                            <h4>Data Science</h4>
                            <p>
                                Front End | AI | ML | C++
                            </p>
                            <div class="icons">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->

                




                </div>


            </div>








            <!-- --------------------- -->

            <!-- <div class="row justify_content_end">

                <div class="about_us">
                    <h3 class="abtUs_title">Meet The Creators</h3>

                    <div class="abtUs_card">

                        <div class="container3">
                            <div class="cardx card0">
                                <div class="border">
                                    <h3>Raj Chhalotre</h3>
                                    <h4>Frontend</h4>
                                    <p>
                                        Front End | AI | ML | C++
                                    </p>
                                    <div class="icons">
                                        <a href="www.google.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cardx card1">
                                <div class="border">
                                    <h3>Hemant Rajput</h3>
                                    <h4>Data Science</h4>
                                    <p>
                                        Front End | AI | ML | C++
                                    </p>
                                    <div class="icons">
                                        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> -->
        </div>


    </section>




















    <!-- Add Js  Bootstrap-->

    <script src="script.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>x

    <script src="/static/script.js"></script>


    <style>
        .poster_back {
    background: url("{{mp}}");
    background-repeat: no-repeat;
  }
    </style>

</body>

</html>