<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Movie Recommender</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <!-- Add font awasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <!-- external css -->
    <link rel="stylesheet" href='/static/style.css' />


    <!-- ------- auto complete search bar ------ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

</head>

<style>
    .poster_back {
        background: url("{{mp}}") no-repeat;
    }
</style>

<body>



    <navbar>

        <div class="nav">

            <a href="{{ url_for('test')}}" class="nav_link">
                <i class="fa fa-home"></i>
                <!-- <i class="fa-sharp fa-solid fa-house-person-return "></i> -->
                <span class="nav_link_title">Home</span>
            </a>

            <a href="#Movie" class="nav_link nav_active">
                <i class="fa fa-clapperboard"></i>
                <span class="nav_link_title">About Movie</span>
            </a>

            <a href="#Recmndr" class="nav_link">
                <!-- <i class="fa fa-magic"></i> -->
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                <span class="nav_link_title">Recommender</span>
            </a>

          


        </div>



    </navbar>


    <!--! --------------------------- Movie Desc. ---------------------------------------- -->

    <section class="movie section_padding" id="Movie">



        <div class="container">


            <div class="section_title">
                <h3 class="main_title">Movie Description</h3>
                <h5 class="sub_title">Here is the Description of your searched Movie</h5>

            </div>







            <div class="row justify_content_cntr">



                <div class="movie_card" id="glow">

                    <div class="info_section">

                        <div class="movie_header">
                            <img class="poster_img" alt="movie poster" src="{{mp}}" />
                            <h1>{{cur_m}}</h1>
                            <h4>Director : {{crew}}</h4>
                            <h5>Cast : {{cast}}</h5>

                            <span class="year minutes"><i class="fa fa-calendar"></i> {{raj[0]}}</span>
                            <span class="minutes"><i class="fa fa-clock"></i> {{rev}} min</span>

                            <span class="rating minutes"> <i class="fa fa-star"></i> {{vote}}/10</span>

                            <p class="genre"><i class="fa fa-masks-theater"></i> {{gen}}</p>




                        </div>
                        <div class="movie_desc">
                            <p class="text">
                                {{over}}
                            </p>


                        </div>

                        <div class="know_more">
                            <a href="{{homep}}" class="" target="_blank"> Know More...</a>
                        </div>
                    </div>
                    <div class="blur_back poster_back"></div>

                </div>


            </div>


            <div class="container2">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <h6>Recommendations</h6>
                <div class="arrow"></div>
            </div>

        </div>






    </section>

    <!--! --------------------------- Movie Desc.---------------------------------------- -->



    <!--! ----------------------------- Recommender ------------------------------------- -->





    <section class="recmndr section_padding" id="Recmndr">


        <div class="container">



            <div class="section_title">
                <h3 class="main_title">Recommendations</h3>
                <h5 class="sub_title">Here are some Recommendations related to <span> {{cur_m}}</span></h5>

            </div>

            <!-- --------------------------- -->

            <div class="row justify_content_cntr">

                <div class="rec_items">

                    {%for item in names%}
                    <!-- ------ card item s ------ -->
                    <div class="rec_card .ani1">
                        <div class="poster">
                            <img src="{{posters[loop.index0]}}" alt="">
                        </div>

                        <div class="details">
                            <h3 class="rec_mv_name">{{item}}</h3>



                            <div class="tags">
                                {%for i in rating[loop.index0][2]%}
                                <span>{{i}}</span>
                                {% endfor %}
                            </div>
                            <div class="extra_info">


                                <h4 class="mv_year">{{rating[loop.index0][1].split("-")[0]}}</h4>

                                <div class="rating">
                                    <!-- <i class = "fa fa-star"></i> -->
                                    <h4> <i class="fa fa-star"></i> {{rating[loop.index0][0]}}/10</h4>

                                </div>


                            </div>

                            <form action="{{ url_for('nest', movie=item) }}" method="POST" class="">
                                <button type="submit" class="btn">Know More</a></button>
                            </form>


                        </div>

                    </div>
                    {% endfor %}
                    <!-- ------ card item e ------ -->






                </div>


            </div>


        </div>




    </section>

    <!--! ----------------------------------------------------- -->



   
   

            <!--!------ Add Js ------>

            <!-- external js -->
            <script src="/static/script.js" async defer></script>


</body>

</html>