  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");


  /* ----------------#### Global Declarations ####-----------------------  */

  /* -------------------Body layout -s ---------------- */
  html {
    scroll-behavior: smooth;
  }


  :root {

    --main-color: #25c6c4;
    --main1: #404bc7;

    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
    --black-900: #000000;
    --black-400: #656f87;
    --black-200: rgba(93, 72, 72, 0.166);
    --black-100: #f7f7f7;
    --white: #fff;
    --black-alpha-100: rgba(0, 0, 0, 0.5);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;


  }

  body {


    background: rgb(176, 176, 204);
    min-height: 100vh;

    overflow-x: hidden;


  }





  /* -------------------Body -e----------------------- */

  /* ------------------- Adjustments -s-------------------- */

  ul {
    list-style: none;
  }


  .section_padding {
    padding: 10px 80px;
  }

  .container {
    max-width: 1140px;
    margin: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .justify_content_cntr {
    justify-content: center;
  }

  .justify_content_end {
    justify-content: end;
  }

  .space_btw {
    justify-content: space-between;
  }

  .align_cntr {
    align-items: center;
  }

  .txt_align {
    text-align: center;
  }



  /*? ------------------- Adjustments -e -------------------- */

  /*? ------------------- Section Title -s -------------------- */

  .section_title {
    /* margin: 40px; */
    margin-bottom: 20px;
    z-index: 1;
    background-color: #aeaeae;
  }

  .section_title .main_title {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
  }

  .section_title .sub_title {
    font-size: 15px;
    font-weight: 600;
    /* color: ; */
  }



  /*? ------------------- Section Title -e -------------------- */



  /*! ----------------#### Global Declarations ####-----------------------  */


  /*! ------------------------Navbar -s------------------------ */

  .nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    z-index: 100;


    /* background-color: #95a7af; */
    /* border: 2px solid black; */
  }


  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefeff;
    /* margin-left: 10px; */
    /* padding: 0 10px; */


  }

  .nav_link:hover,
  .nav_active {
    color: rgb(193, 246, 3);
    transition: 0.2s all linear;
    transform: scale(1.1);

  }

  .nav_link .bx {
    font-size: 1.7rem;
  }

  .nav_link_title {
    font-size: 0.5rem;
  }


  .nav a span {
    opacity: 0;
  }

  .nav a:hover span {
    opacity: 1;
  }



  /*! ------------------------Navbar -e------------------------ */


  /* !------------------------home  -s------------------------ */

  .home {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 80px;
  }

  .home .container {
    background-color: #25c6c4;
    padding: 10px;
    /* min-height: 80vh; */
  }

  .home .row {
    margin-top: 50px;
    background-color: rgb(93, 0, 255);
    justify-content: center;
    text-align: center;
  }





  .home_txt {
    /* background-color: red; */
    line-height: 25px;
  }




  .home_txt .greetings {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 10px;
    color: var(--main-color);
    /* font-size: 2vw; */
    text-shadow: 2px 2px 2 px #3F7FBF;
    /* mix-blend-mode: screen; */
    /* animation: fadeIn 1.5s linear forwards; */

    /* display: inline-block; */

  }

/*  
  .moving_txt {
    color: black;
    font-size: 17px;
    margin-top: 10px;
    background-color: #03a9f4;

} */

.home .home_txt span {
    
  /* background-color: red; */
    margin-top: 110px;
    display: inline;
    color: black;
  
}

  .home_txt .name {

    margin-top: 15px;
    margin-bottom: 15px;


    font-size: 35px;
    text-shadow: 2px 4px 2px #3F7FBF;
    /* mix-blend-mode: screen; */

  }


  .home_txt p {
    font-size: 16px;
    /* color: var(--black-900); */
    font-weight: 500;
    margin: 15px 0;

  }


  .home_txt .srch_bar {


    background-color: #921313;
    padding: 50px;
    display: inline-block;
    margin-top: 20px;
    line-height: 15px;

  }

  /*? ------------ search Bar ------------------ */


 

  /* ?------------ search Bar ------------------ */


  .home .rimg {
    position: absolute;
    z-index: 1;
    transition: transform 0.2s ease-out;



  }

  .home .backg img {
    filter: blur(5px);
    width: 100%;
  }

  .home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  #m1 {
    width: 100px;
    height: 100px;
    top: 150px;
    left: 50px;

    animation: wave_hand 2s ease-in-out infinite;

    transform-origin: 90% 90%;
  }

  #m2 {

    width: 100px;
    height: 100px;
    top: 400px;
    left: 400px;

  }

  #m3 {
    width: 100px;
    height: 100px;
    top: 300px;
    left: 700px;

  }

  #m5 {
    width: 100px;
    height: 100px;
    top: 400px;
    left: 30px;



  }

  #m6 {

    width: 100px;
    height: 100px;
    top: 400px;
    left: 950px;

    animation: wave_hand 2s ease-in-out infinite;

    transform-origin: 50% 90%;

  }

  #m7 {

    width: 100px;
    height: 100px;
    top: 150px;
    left: 900px;

    animation: wave_hand 4s ease-in-out infinite;

    transform-origin: 10% 10%;


  }

  #m8 {

    width: 200px;
    height: 300px;
    top: 110px;
    left: 100px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */


  }


  /* ----------------srch bar-------------- */

  /* ----------------srch bar-------------- */



  /* !------------------------home  -e------------------------ */




  /*!------------------------Movie -s------------------------ */


  .movie {
    /* position: relative; */
    /* background-color: #25c638; */
    z-index: 1;
    /* min-height: 100vh; */

  }



  .movie .container1 {
    /* background-color: rgb(0, 234, 255); */
  }

  .movie .row:nth-child(1) {
    /* background-color: red; */
    /* margin-bottom: 20px; */
    /* padding: 10px; */
    justify-content: end;
  }

  .movie .row:nth-child(2) {
    /* background-color: rgb(220, 200, 45); */
  }



  .movie .sec_title {
    background-color: #03a9f4;
    justify-content: end;
    text-align: end;

  }

  /*?-------------- movie poster card ----------------- */



  .movie_card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: auto;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
  }

  .movie_card:hover {
    transform: scale(1.04);
    transition: all 0.4s;
  }

  .movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
  }

  .movie_card .info_section .movie_header {
    position: relative;
    /* background-color: #03a9f4; */
    padding: 15px;
    height: auto;
    margin-bottom: 10px;
  }

  .movie_card .info_section .movie_header h1 {
    color: #fff;
    font-weight: 400;
  }

  .movie_card .info_section .movie_header h4 {
    color: #9ac7fa;
    font-weight: 400;
  }

  .movie_card .info_section .movie_header .minutes {
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
  }
  
  .movie_card .info_section .movie_header .mv_rating
  {
     font-size: 15px;
  }

  .movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
  }

  .movie_card .info_section .movie_header .poster_img {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 150px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
    color: #03a9f4;
    font-size: 10px;
  }

  .movie_card .info_section .movie_desc {
    padding: 15px;
    height: auto;
    /* background-color: #f0f004; */
  }

  .movie_card .info_section .movie_desc .text {
    color: #cfd6e1;
    font-size: 14px;
  }
  
  .movie_card .info_section .know_more
  {
    /* background-color: #03a9f4; */
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
    transition: all 0.4s;
  }

  .movie_card .info_section .know_more a
  {
    color: white;
  }
  .movie_card .info_section .know_more  a:hover
  {
    transform: scale(1.1);
    color: red;
  }


  .movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
  }

  @media screen and (min-width: 768px) {
    .movie_header {
      width: 60%;
    }

    .movie_desc {
      width: 50%;
    }

    .info_section {
      background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }

    .blur_back {
      width: 80%;
      background-position: -100% 10% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .movie_card {
      width: 95%;
      margin: 70px auto;
      min-height: 350px;
      height: auto;
    }

    .blur_back {
      width: 100%;
      background-position: 50% 50% !important;
    }

    .movie_header {
      width: 100%;
      margin-top: 85px;
    }

    .movie_desc {
      width: 100%;
    }

    .info_section {
      background: linear-gradient(to top, #141413 50%, transparent 100%);
      display: inline-grid;
    }
  }

  #glow {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  }

  #glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }

  




  /*?-------------- movie poster card ----------------- */





  /*! ------------------------Movie  -e------------------------ */





  /*! ------------------------Recommender -s------------------------ */

  .recmndr {
    position: relative;
    background-color: #c6c325;
    z-index: 1;
    min-height: 100vh;

  }

  .rec_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: blue;
    z-index: 11;
    gap: 15px;
  }

  /* ------------------ */

  .carda {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }

  .carda .poster {
    position: relative;
    overflow: hidden;
  }

  .carda .poster::before {
    content: '';
    position: absolute;
    bottom: -130px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #bc6a6a 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }

  .carda:hover .poster::before {
    bottom: 0px;
  }


  .carda .poster img {
    width: 100%;
    height: 300px;

    /* height: 100%; */
    /* border-radius: 20px 20px 0 0; */
    /* object-fit: cover; */
    transition: 0.5s;
  }

  .carda:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
  }

  .details {
    position: absolute;
    bottom: -85px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
  }

  .carda:hover .details {
    bottom: 40px;
  }

  .details .rec_mv_name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .details .mv_year {
    font-size: 14px;
    color: white;

  }

  .details .rating {
    font-size: 14px;
    color: yellow;
  }

  .details .tags {
    font-size: 10px;
    position: relative;
    margin-top: 5px;
  }

  .details .tags span {
    padding: 2px 5px;
    color: white;
    background-color: rgb(0, 225, 255);
    border-radius: 5px;
  }

  .details .tags span:not(:last-child) {
    background-color: red;
  }

  .details .info {
    color: #fff;
    margin-top: 10px;

  }

  .details .btn a {
    font-size: 10px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
  }

  /* !------------------------Recommender -e------------------------ */




  /*!------------------------About -s------------------------ */


  .about {
    position: relative;
    /* background-color: #c625a6; */
    z-index: 1;
    /* min-height: 100vh; */
    /* background-color: rgb(186, 75, 75); */
  }


  .about .row {
    background-color: #03a9f4;
    margin-bottom: 60px;

  }


  .about_box {
    background-color: grey;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 12px;
  }


  .about_us {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #921313;
  }


  .about_us_title {
    background-color: green;

    /* display: flex; */
    /* margin-bottom: 10px; */
  }

  .about_us_title h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }



  /* -----------------AboutUS  Cards ------------------------ */





  .cardx {

    display: flex;
    flex-wrap: wrap;
    flex: 0 0 40%;
    max-width: 40%;



    margin: 10px;
    height: 220px;
    width: 300px;
    /* background: #808080; */
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 10px 80px 83px -60px #000;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .border {
    height: calc(100% - 7px);
    width: calc(100% - 7px);
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }

  .cardx .border:hover {
    border: 1px solid #fff;
  }

  .cardx h3 {
    margin: 5px;
    color: white;
  }

  .cardx h4 {
    margin: 5px;
    font-size: 14px;
    color: white;

  }

  .cardx p {
    opacity: 0;
    transition: opacity 1s;
    margin: 5px;
    font-size: 12px;
    color: white;

  }

  .cardx:hover p {
    opacity: 1;
    transition: opacity 1s;

  }

  .cardx .fa {
    opacity: 0;
    transition: opacity 1s;
  }

  .cardx:hover .fa {
    opacity: 1;
  }


  .cardx .icons a i {
    color: white;
    font-size: 18px;
  }

  .cardx .icons a i:hover {
    color: rgb(228, 27, 27);
    transform: scale(1.1);
  }

  .cardx .icons {
    position: absolute;
    height: 30px;
    top: 110px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /* ------------------- first card -------- */

  .card0 {

    background: url("imgs/raj1.jpg") left center no-repeat;
    background-size: 350px;
    /* width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .card0:hover {
    background: url("imgs/raj1.jpg") left center no-repeat;
    background-size: 600px;
  }





  .card1 {
    background: url("imgs/hem2.jpg") left center no-repeat;
    background-size: 350px;

  }

  .card1:hover {
    background: url("imgs/hem2.jpg") left center no-repeat;
    background-size: 600px;
  }






  /* -----------------AboutUS  Cards ------------------------ */











  /*! ------------------------About  -e------------------------ */







  /*! ----------------------- An1:Animations ------------------------------------------ */


  @keyframes wave_hand {
    0% {
      transform: rotate(0.0deg)
    }

    10% {
      transform: rotate(14.0deg)
    }

    20% {
      transform: rotate(-8.0deg)
    }

    30% {
      transform: rotate(14.0deg)
    }

    40% {
      transform: rotate(-4.0deg)
    }

    50% {
      transform: rotate(10.0deg)
    }

    60% {
      transform: rotate(0.0deg)
    }

    100% {
      transform: rotate(0.0deg)
    }
  }


  @keyframes hover_anim {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-20px);
    }

    100% {
      transform: translatey(0px);
    }
  }


  .active {
    opacity: 1;
    transform: scale(1);
  }

  /*! ----------------------- An1:Animations ------------------------------------------ */


  /* TODO------------------------- Scroll down  arrow ani---------------------------------- */

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
  }

  .container2 h6 {
    opacity: 0.5;
  }

  .arrow {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-arrow 3s ease-out infinite;
  }

  .arrow:first-child {
    animation: move-arrow 3s ease-out 1s infinite;
  }

  .arrow:nth-child(2) {
    animation: move-arrow 3s ease-out 2s infinite;
  }

  .arrow:before,
  .arrow:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
  }

  .arrow:before {
    left: 0;
    transform: skewY(30deg);
  }

  .arrow:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }

  @keyframes move-arrow {
    25% {
      opacity: 1;
    }

    33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
    }

    66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
    }

    100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
    }
  }

  /* TODO------------------------- Scroll down  arrow ani---------------------------------- */










  /*! --------------------------Re1: Responsive ------------------------- */

  @media (max-width: 900px) {
    .nav {
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;

      transform: translateY(0);
      flex-direction: row;
      justify-content: space-evenly;
      row-gap: 1px;
      padding: 10px;
      border-top: 1 px solid hsl(200 100% 99% / 5%);
      background: linear-gradient(8deg, hsl(240 17% 14% / 100%) 5%, hsl(240 17% 14% / 90%) 100%);

    }

    .nav a span {
      opacity: 1;
    }

    .nav_link .bx {
      font-size: 1.7rem;
    }

    .nav_link_title {
      font-size: 0.5rem;
    }



    .section_padding {
      padding: 40px 30px;
    }
  }

  @media (max-width: 425px) {

    .cardx {
      flex: 0 0 80%;
      max-width: 80%;
      width: 300px;
    }

  }

  @media (max-width: 500px) {

    .section_padding {
      padding: 40px 10px;
    }



  }


  /*!-----------------preloader------------------ */

  #preloader
  {
    background: #000 url("imgs/pre.gif") no-repeat center;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 20%;
    padding: 30px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

  

