@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fira+Sans&display=swap');


/* ----------------#### Global Declarations ####-----------------------  */

/* -------------------Body layout -s ---------------- */

html {
    scroll-behavior: smooth;
}

:root {

    --main-color: #25c6c4;
    --main1: #404bc7;

    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
    --black-900: #000000;
    --black-400: #656f87;
    --black-200: rgba(93, 72, 72, 0.166);
    --black-100: #f7f7f7;
    --white: #fff;
    --black-alpha-100: rgba(0, 0, 0, 0.5);
}

body {

    background: rgb(105, 105, 170);
    background-size: 100%;
    background-repeat: no-repeat;

    font-size: 13px;
    font-weight: 400;
    color: var(--white);
    overflow-x: hidden;
    font-family: 'Rubik';


}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;



}

/* -------------------Body -e----------------------- */

/* ------------------- Adjustments -s-------------------- */

ul {
    list-style: none;
}


.section_padding {
    padding: 80px 60px;
    /* height: 80vh; */
    /* 
    scroll-snap-align: start;
    scroll-snap-stop: always; */
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify_content_cntr {
    justify-content: center;
}

.space_btw {
    justify-content: space-between;
}

.align_cntr {
    align-items: center;
}

.txt_align {
    text-align: center;
}



/* ------------------- Adjustments -e -------------------- */
/* ----------------#### Global Declarations ####-----------------------  */


/* ------------------------Navbar -s------------------------ */

navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 15px 15px;
    transition: all 1s ease;
    margin: 0 auto;
    /* background-color: red; */
}

.sticky {
    padding: 4px 25px;
    background: rgb(55, 47, 208);
    background: linear-gradient(90deg, rgb(6, 221, 149) 0%, rgba(83, 210, 191, 1) 17%, rgba(0, 212, 255, 1) 100%);
    box-shadow: var(--shadow-black-100);
    opacity: 1;
}


navbar ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    column-gap: 10px;
    z-index: 34;
    transition: all 1s ease;


}

navbar ul li a {
    font-size: 15px;
    font-weight: 900;
    padding: 8px 16px;
    text-transform: capitalize;
    font-family: sans-serif;

    cursor: pointer;
    color: rgba(255, 255, 255, 0.823);


}

/* hh1 */
navbar ul li a.active {

    background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
            hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2));


    font-family: sans-serif;
    font-weight: bold;
    color: var(--white);
    padding: 10px 20px;
    text-shadow:
        0 0 15px hsla(0, 0%, 100%, 1),
        /* bloom */
        0 2px 4px hsla(0, 0%, 0%, 0.7);
    /* drop shadow */
    border: none;
    border-radius: 50px;
    box-shadow:
        inset 0 -5px 20px hsla(0, 0%, 0%, 0.1),
        /* top light */
        inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
        /* bottom shadow */
        /* multiple light sources yall */
        -5px 8px 5px hsla(0, 0%, 0%, 0.15),
        /* drop shadow 1 */
        5px 18px 10px hsla(0, 0%, 0%, 0.2);
    /* drop shadow 2 */


    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.1s;
    background: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0));

}

.sticky ul li a.active {
    padding: 6px 20px;

}

.sticky ul li a:hover {
    padding: 4px 16px;

}

navbar ul li a:hover {


    box-shadow:
        inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
        /* top light */
        inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
        /* bottom shadow */
        /* multiple light sources yall */
        -12px 12px 5px hsla(0, 0%, 0%, 0.15),
        /* drop shadow 1 */
        10px 25px 10px hsla(0, 0%, 0%, 0.2);
    /* drop shadow 2 */

    border-radius: 50px;

}


navbar .logo {
    display: flex;
    align-items: center;


}


navbar .logo img {


    height: 30px;
    width: 70px;
    border-radius: 10px;
    /* margin-top: 5px; */

    box-shadow:
        0 0 15px hsla(0, 0%, 100%, 0.7),
        /* bloom */
        0 2px 4px hsla(0, 0%, 0%, 0.8);
    /* drop shadow */


}


navbar .menu_btn {
    /* height: 30px; */
    /* width: 35px; */
    box-shadow: var(--shadow-black-100);
    padding: 6px;
    border-radius: 5px;
    /* line-height: 34px; */
    text-align: center;
    color: var(--white);
    font-size: 17px;
    top: 0;
    display: none;
    cursor: pointer;

}



.sticky .menu_btn {
    color: var(--main-color);
    background-color: var(--black-900);
}


/* ------------------------Navbar -e------------------------ */

/* ------------------------Home -s------------------------ */

.home_cls {
    padding-top: 80px;
    height: 300vh;
}

.home_cls .heading {
    background-color: blue;
    text-align: center;
    margin: 20px;
}


/* Search Box */
.srch_box {
    background-color: red;
    text-align: center;
    margin: 20px;
}


/* -------------------About movie------------------------ */
.about_movie {

    display: flex;
    flex-wrap: wrap;
    flex:0 0 40%;
    max-width: 40%;
    flex-direction: row;
    background-color: green;
}


.about_movie img {
    background-color: #25c6c4;

    display: block;
    width: 100%;
    border-radius: 10px;
    height: 230px;
}

.about_movie .movie_content {
    background-color: #47cd2d;
    font-size: 16px;
}


/* --------------------------Reccomendation------------------------ */

.rec_movies {
    margin-top: 30px;
    background-color: #921313;
}




.mov_item {

    position: relative;
    max-width: 20%;
    margin: 16px;
    background-color: rgb(56, 42, 165);
    border-radius: 10px;
    z-index: 2;
}

.mov_item {

    flex: 0 0 20%;
    max-width: 20%;
}

.mov_item .card {
    position: relative;

    /* width: 300px; */
    height: 300px;
    background-color: rgba(240, 29, 240, 0.443);
    overflow: hidden;
}

.p_img {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: 230px;
}